body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #ffffff;
  margin: 16px auto;
}

.title {
  background: #cdf5ff;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #cdf5ff;
  margin: 10px;
  padding: 20px 10px 20px 10px;
}

.button-container {
  margin: 10px;
  background: #cdf5ff;
  
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #acacac;
  margin: auto;
  padding: 10px 20px 10px 20px;
}